<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mastoarchive Test Page</title>
  </head>
  <body>
    {{ content | safe }}
    <pre>{{ mastodon | dump(2) }}</pre>
  </body>
</html>